body{
	background: url('back4.jpg') ;
	background-size:cover;
	width:70vw;
	font-family:Arial;
	color:white;
	margin-left:auto;
	margin-right:auto;
}

#bodycontact{
	background: url('background3.jpg');
	background-size: cover;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#bodycontact #person{
	background-color: lightblue;
	position:relative;
	font-size: 40px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10%;
	padding-right: 10%;
	max-width: 100%;
}
#bodycontact #person:first-child{
	background-color: black;
	opacity: .8;
}


img {
	max-width: 100%;
    max-height: 100%;
}
ul {
    margin: 0px;
	padding:0px;
    list-style:none;
}
.menu {
	position:absolute;
	left:14vw;
	margin-top:3vw;
}
#body{
	background-color: black;
	opacity: .8;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
}
#body p{
	font-family: Arial;
	font-size: 20px;
	padding-left: 47%;
}
#body a{
text-decoration: none;
}
#body:hover{
	background-color: green;

}


ul li{
	float:left;
	width:16vw;
	height: 5vw;
	background-color:black;
	opacity: .8;
	line-height:5vw;
	text-align: center;
    margin-left:0.2vw;
}
ul li a{
	text-decoration:none;
	color: white;
	display:block;
}
ul li a:hover{
    background-color:green;
}
ul li ul li{
    display:none;
	margin-left:0px;
}
ul li:hover ul li{
	display:block;
}
.logo{
	width:14vw;
	height:14vw;
	position:absolute;
	left:3vw;
	top:-1vw;
	margin-left:-0.2vw;
}
