body{

	background: url('backhome.jpg') ;
	background-size: cover;
	width:70vw;
	font-family:sans-serif;
	color:white;
	margin-left:auto;
	margin-right:auto;
}

img {
	opacity: .9;
	max-width: 100%;
    max-height: 100%;
}
ul {
    margin: 0px;
		padding:0px;
    list-style:none;
}
.menu {
	position:relative;
	float:left;
	left:50%;
	margin-top:2vw;
}
.menu2{

}
#body{
	background-color: black;
	opacity: .8;
	position: absolute;

}

#body p{
	font-family: sans-serif;
	font-size: 70vm;
	padding-left: 47%;
}
#body a{
text-decoration: none;
}
#body:hover{
	background-color: green;

}
#body{
	background-color: rgb(50,20,30);
	opacity: .8;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
}
#body p{
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 47%;
}
#body a{
text-decoration: none;
}
#body:hover{
	background-color: green;
	transition-duration: 0.6s;

}


ul li{
	float:left;
	position:relative;
	right:50%;
	width:16vw;
	height: 5vw;
	background-color: rgb(50,20,30);
	opacity: .8;
	line-height:5vw;
	text-align: center;
}
ul li a{
	text-decoration:none;
	color: white;
	display:block;
}
ul li a:hover{
    background-color:green;
    transition-duration: 0.6s;

}
ul li ul li{
    display:none;
	margin-left:0px;
}
ul li:hover ul li{
	display:block;
}

.logo{
	margin-top:3vw;		
	width:9vw;
	height:8vw;
	position:absolute;
	left:18vw;
	top:-2vw;
	margin-left:-0.2vw;
}


#Home {
	  background-color: rgb(50,20,30);
	  opacity: .9;
	  width:84vw;
	  height:36vw;
	  position:absolute;
	  top:10vw;
	  left:50%;
	  margin-left:-42vw;
	  /*left:10vw;*/
	  top:9vw;
	  left:10vw;
	  overflow-x:hidden;
	  overflow-y:auto;
}
#Home p{
	color:white;
    font-family: sans-serif;
	font-size: 20px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: grey;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#000,#00664d);
    background: linear-gradient(#000,#30ff00);
}
